.trailer_box{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 100%;
    height: auto;
    padding-left: 90px;
}

.trailer_tittle{
    h2{
        color:rgb(255, 247, 247);
    }
}


.trailer_content {
    max-width: 100%;
    display: flex;
    transition: height .5s linear;
    gap:30px;
    overflow-x: scroll;
    overflow-y: hidden;
}
