.panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.panel_tittle{
    padding-left:90px;
    h2{
        color:rgb(255, 247, 247);
    }
}


.panel_box{
    padding-left: 90px;
    max-width: 95%;
}


.panel_content {
    max-width: 100%;
    display: flex;
    transition: height .5s linear;
    gap:30px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%) 10%, #071c2f 100%);
}




